---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if item.data.sitemap != false and item.outputPath and item.outputPath.endsWith(".html") %}
  <url>
    <loc>{{ pkg.base_url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateToRfc3339 }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
