{% macro iconLink(href, icon, text, title='', rel='', hreflang='', type='') %}
  <a class="icon-link link-primary text-decoration-none" href="{{ href }}"
    {% if title %}title="{{ title }}"{% endif %}
    {% if rel %}rel="{{ rel }}"{% endif %}
    {% if hreflang %}hreflang="{{ hreflang }}"{% endif %}
    {% if type %}type="{{ type }}"{% endif %}
    >
    <svg class="bi">
      <use xlink:href="/kuvat/sprite3.svg#{{ icon }}"/>
    </svg>
    {{ text }}
  </a>
{% endmacro %}

<footer class="footer mt-auto py-4 bg-body-tertiary">
  <div class="container-md small">
    <div class="row gy-4">
      <div class="col-sm-6 col-md-4">
        <div id="footer-valmennus-heading" class="fw-bold mb-2 fs-6">Valmennus</div>
        <ul aria-labelledby="footer-valmennus-heading" class="list-unstyled mb-0">
          <li>{{ iconLink('/kilpailut/', 'trophy-fill', 'Kilpailut') }}</li>
          <li>{{ iconLink('/aiheet/', 'book', 'Materiaalit') }}</li>
          <li>{{ iconLink('/kaytanto/', 'calendar-event', 'Tapahtumat') }}</li>
          <li>{{ iconLink('/valmennus/', 'envelope-fill', 'Kotitehtävät') }}</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <div id="footer-yhteystiedot-heading" class="fw-bold mb-2 fs-6">Yhteystiedot</div>
        <ul aria-labelledby="footer-yhteystiedot-heading" class="list-unstyled mb-0">
          <li>{{ iconLink('mailto:info@matematiikkakilpailut.fi', 'envelope-fill', 'info@matematiikkakilpailut.fi', title='Sähköposti', rel='author') }}</li>
          <li>{{ iconLink('/valmentajat/', 'people-fill', 'Valmentajat') }}</li>
          <li>{{ iconLink('/feed.xml', 'rss-fill', 'RSS-syöte', 'RSS-syöte', 'alternate', type='application/atom+xml') }}</li>
          <li>{{ iconLink('https://t.me/+TS59DXkdJpozNDU0', 'telegram', 'Telegram-keskusteluryhmä', 'Telegram') }}</li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4">
        <div id="footer-muuta-heading" class="fw-bold mb-2 fs-6">Muuta</div>
        <ul aria-labelledby="footer-muuta-heading" class="list-unstyled mb-0">
          <li>{{ iconLink('/kerhot/', 'people-fill', 'Kerhot') }}</li>
          <li>{{ iconLink('/linkit/', 'link-45deg', 'Linkkejä') }}</li>
          <li>{{ iconLink('/tietosuoja/', 'shield-fill', 'Tietosuoja', rel='privacy-policy') }}</li>
          <li lang="en">{{ iconLink('/english/', 'translate', 'In English', hreflang='en') }}</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
