---
layout: default
---
<div>
  <div class="container">
    <header class="row">
      <div class="col-12">
        <h1 class="py-3 mt-3 mb-2">{{ title }}</h1>
        <div class="row">
          <div class="col-xs-12">
            <picture class="light-element">
              <source srcset="/kuvat/oph_light.webp" type="image/webp">
              <img loading="lazy" class="d-block float-sm-end mx-auto mb-2 ms-md-4" src="/kuvat/oph_light.png" width="180" height="174" alt="Opetushallitus rahoittaa hanketta">
            </picture>
            <picture class="dark-element">
              <source srcset="/kuvat/oph_dark.webp" type="image/webp">
              <img loading="lazy" class="d-block float-sm-end mx-auto mb-2 ms-md-4" src="/kuvat/oph_dark.png" width="180" height="174" alt="Opetushallitus rahoittaa hanketta">
            </picture>
            {{ content | safe }}
          </div>
        </div>
      </div>
    </header>
      <div class="mk-ukk" id="faqAccordion" itemscope itemtype="https://schema.org/FAQPage">
        {% for item in faq %}
        <details class="mk-ukk-kohta" name="faq"{% if loop.first %} open{% endif %}
                 itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
          <summary id="faq-{{ item.id }}-btn">
            <h3 itemprop="name"><span itemprop="text">{{ item.question }}</span></h3>
          </summary>
          <div class="mk-ukk-vastaus" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
              {{ item.answer | markdown | safe }}
            </div>
          </div>
        </div>
      </div>

      <!-- FAQ column -->
      <div class="col-lg-6 my-3 my-lg-0">
        <div class="card shadow h-100">
          <div class="card-header">
            <h2 class="h3 pb-2 mb-0">Usein kysytyt kysymykset</h2>
          </div>
          <div class="card-body p-0">
            <div class="mk-ukk" id="faqAccordion" itemscope itemtype="https://schema.org/FAQPage">
              {% for item in faq %}
              <details class="mk-ukk-kohta" name="faq"{% if loop.first %} open{% endif %}
                       itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <summary id="faq-{{ item.id }}-btn">
                  <h3 itemprop="name"><span itemprop="text">{{ item.question }}</span></h3>
                </summary>
                <div class="mk-ukk-vastaus" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                  <div itemprop="text">
                    {{ item.answer | markdown | safe }}
                  </div>
                </div>
              </details>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if scripts %}
{{ scripts | safe }}
{% endif %}
