{%- if not hideBreadcrumbs %}
<div class="mk-leivanmurut">
  <nav aria-label="navigaatiopolku">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
      {% set navPages = collections.all | eleventyNavigationBreadcrumb(page.url, {includeSelf: true, allowMissing:true}) %}
      {%- for crumb in navPages %}
      {%- if loop.last %}
      <li aria-current="page"
          itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="name">{{ crumb.title }}</span>
        <meta itemprop="position" content="{{ loop.index }}">
      </li>
      {%- else %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <meta itemprop="position" content="{{ loop.index }}">
        <a class="icon-link" href="{{ crumb.url }}"
           itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="{{ crumb.url }}">
          <span itemprop="name">{{ crumb.title }}</span>
          <svg class="bi" style="stroke-width: 1.1; stroke: currentColor;" aria-hidden="true" focusable="false">
            <use href="/kuvat/sprite3.svg#chevron-right"/>
          </svg>
        </a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ol>
  </nav>
</div>
{% endif -%}
