---
---
{%- set S = site.seiskat -%}
{%- set lang = lang | default('fi') | replace("-FI", "") -%}
{%- set isIndex = (page.fileSlug == 'seiskat' and lang == 'fi') or (page.fileSlug == lang) -%}
<!DOCTYPE html>
<html lang="{{ lang | default('fi') }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if robots %}
    <meta name="robots" content="{{ page.robots }}">
    {% elif sitemap == false %}
    <meta name="robots" content="noindex,follow">
    {% endif %}
    <link rel="sitemap" href="/sitemap.xml" />
    {% if isIndex -%}
    <title>{{ S.siteTitle[lang] }}</title>
    {%- else -%}
    <title>{{ subtitle }} | {{ S.siteTitle[lang] }}</title>
    {%- endif -%}
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link href="/seiskat/tyyli.css?v=1" rel="stylesheet" />
    <base href="/seiskat/">
    <link rel="canonical" href="{{ pkg.base_url }}{{ page.url }}">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="kuvake/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="kuvake/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="kuvake/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="kuvake/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="kuvake/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="kuvake/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="kuvake/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="kuvake/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="kuvake/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="kuvake/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="kuvake/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="kuvake/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="kuvake/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/kuvake/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header>
      <img id="logo" alt="[logo]" src="logo.png" />
      <h1>{{ h1 }}</h1>
    </header>
    <nav id="nav">
      <ul>
        {%- for item in S.menuOrder %}
        {%- set current = (page.fileSlug == S.slugMap[lang][item]) or (isIndex and item == 'index') %}
        <li>
          <a 
            href="{{ S.langPaths[lang] }}{{ S.menuItems[item].path[lang] }}" 
            {%- if current %} aria-current="page"{% endif %}
            class="{{ 'current' if current }}"
          >
            {{ S.menuItems[item].title[lang] }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {#- Find current menu item by iterating -#}
      {%- set currentPage = 'index' %}
      {%- for item in S.menuOrder %}
        {%- if page.fileSlug == S.slugMap[lang][item] %}
          {%- set currentPage = item %}
        {%- endif %}
      {%- endfor %}
      <ul class="language-switcher">
        {%- for langCode, langName in S.languages %}
        {%- set isCurrent = lang == langCode %}
        <li>
          <a 
            href="{{ S.langPaths[langCode] }}{{ S.menuItems[currentPage].path[langCode] }}"
            rel="{{ 'canonical' if isCurrent else 'alternate' }}" 
            lang="{{ langCode }}{{ '-FI' if langCode == 'sv' }}" 
            hreflang="{{ langCode }}{{ '-FI' if langCode == 'sv' }}"
            {%- if isCurrent %} aria-current="true"{% endif %}
            class="{{ 'current' if isCurrent }}"
          >
            {{ langName }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <main>
      {{ content | safe }}
    </main>
    <script type="module" src="/js/instant.page.min.js"></script>
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "45380cb8b30d4b0791d27e340eefc4da"}'></script>
  </body>
</html>
