---
layout: default
---
<header class="mk-sivu-otsikko pt-4 pb-3">
  <h1>{{ title }}</h1>
  {% if ingressi %}<p class="mk-ingressi mt-3 mb-0">{{ ingressi | markdownify | safe }}</p>{% endif %}
</header>

<div class="row gx-lg-5">
  {% if highlightedContent %}
  <div class="col-lg-4 order-lg-last">
    <aside class="mk-sivupalkki">
      <div class="mk-kortti mk-nosto">
        {% if highlightedYlaotsikko %}<div class="mk-ylaotsikko">{{ highlightedYlaotsikko }}</div>{% endif %}
        {% if highlightedTitle %}<h2>{{ highlightedTitle }}</h2>{% endif %}
        <div class="highlighted-content">
          {{ highlightedContent | markdown | safe }}
        </div>
      </div>
    </aside>
  </div>
  {% endif %}
  <div class="col-lg-8 mk-artikkeli">
    {{ content | safe }}
  </div>
</div>

{% if scripts %}
{{ scripts | safe }}
{% endif %}
