<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid flex-row-reverse align-items-start">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {%- set navPages = collections.all | eleventyNavigation %}
    {%- set active = []                                     %}
    {%- set bottomrow = false                               %}
    {%- for top in navPages                                 %}
    {%-   if top.url == page.url                            %}
    {%-     set active = [top.url]                          %}
    {%-     set bottomrow = top.children                    %}
    {%-   else                                              %}
    {%-     for bottom in top.children                      %}
    {%-       if bottom.url == page.url                     %}
    {%-         set active = [top.url, bottom.url]          %}
    {%-         set bottomrow = top.children                %}
    {%-       endif                                         %}
    {%-     endfor                                          %}
    {%-   endif                                             %}
    {%- endfor                                              %}
    <nav class="collapse navbar-collapse flex-column align-items-start" id="navbar-collapse">
      <div class="row flex-grow-1"><div class="col-12 flex-grow-1">
        <ul class="navbar-nav mb-2 mb-lg-0">
          {%- for entry in navPages %}
          {%-  set isActive = entry.url in active %}
          <li class="nav-item">
            <a class="nav-link{% if isActive %} active{% endif%}"
               {% if isActive %} aria-current="page"{% endif %}
               href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
          {%- endfor %}
          <li class="nav-item">
            <a class="nav-link" href="/feed.xml" rel="alternate" title="RSS-syöte" type="application/atom+xml"
            ><svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="/kuvat/sprite.svg#rss-fill"/>
            </svg></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://t.me/+TS59DXkdJpozNDU0" rel="me" title="Telegram"
            ><svg class="bi" width="16" height="16" fill="currentColor">
              <use xlink:href="/kuvat/sprite.svg#telegram"/>
            </svg></a>
          </li>
        </ul>
      </div></div>
      {%- if bottomrow %}
      <hr class="d-md-none">
      <div class="row"><div class="col-12">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {%- for entry in bottomrow %}
          {%-  set isActive = entry.url in active %}
          <li class="nav-item">
            <a class="nav-link{% if isActive %} active{% endif %}"
               {% if isActive %} aria-current="page"{% endif %}
               href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
          {%- endfor %}
        </ul>
      </div></div>
      {%- endif %}
    </nav>
  </div>
</nav>
