<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <div class="container-fluid">
      <ul class="nav navbar-nav nav-pills">
        {%- set navPages = collections.all | eleventyNavigation %}
        {%- set active = []                                     %}
        {%- set bottomrow = false                               %}
        {%- for top in navPages                                 %}
        {%-   if top.url == page.url                            %}
        {%-     set active = [top.url]                          %}
        {%-     set bottomrow = top.children                    %}
        {%-   else                                              %}
        {%-     for bottom in top.children                      %}
        {%-       if bottom.url == page.url                     %}
        {%-         set active = [top.url, bottom.url]          %}
        {%-         set bottomrow = top.children                %}
        {%-       endif                                         %}
        {%-     endfor                                          %}
        {%-   endif                                             %}
        {%- endfor                                              %}
        {%- for entry in navPages                               %}
        <li{% if entry.url in active %} class="active"{% endif %}>
          <a{% if entry.url in active %} class="active"{% endif %}
               href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>
      {%- if bottomrow %}
      <div class="clearfix"></div>
      <ul class="nav navbar-nav nav-pills">
        {%- for entry in bottomrow %}
        <li{% if entry.url in active %} class="active"{% endif %}>
          <a{% if entry.url in active %} class="active"{% endif %}
               href="{{ entry.url }}">{{ entry.title }}
          </a>
        </li>
        {%- endfor %}
      </ul>
      {%- endif %}
    </div>
  </div>
</nav>
