---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="sitemap" href="/sitemap.xml" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link href="/css/bw2016.min.css?v=2" rel="stylesheet">
    <link rel="prefetch" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
    <link rel="icon" type="image/png" href="/BW2016/bw16.png?v=2" sizes="16x16">
    <link rel="icon" type="image/png" href="/BW2016/bw32.png?v=2" sizes="32x32">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
      <div class="jumbotron" role="banner">
	<div class="container">
	  <h2><a href="/BW2016/"><img src="/BW2016/BWlogo.png?v=2" alt="Baltic Way 2016" height="180" width="1125" class="img-responsive" /></a></h2>
	  <h2>Mathematical team contest</h2>
	</div>
      </div>
      <nav class="container">
	<ul class="nav nav-justified nav-tabs">
          <li{% if page.nav == "about" %} class="active"{% endif %}><a href="/BW2016/about/">About</a></li>
          <li{% if page.nav == "practicalities" %} class="active"{% endif %}><a href="/BW2016/practicalities/">Practicalities</a></li>
          <li{% if page.nav == "programme" %} class="active"{% endif %}><a href="/BW2016/programme/">Programme</a></li>
          <li{% if page.nav == "location" %} class="active"{% endif %}><a href="/BW2016/location/">Location</a></li>
          <li{% if page.nav == "participants" %} class="active"{% endif %}><a href="/BW2016/participants/">Participants</a></li>
          <li{% if page.nav == "problems" %} class="active"{% endif %}><a href="/BW2016/problems/">Problems</a></li>
          <li{% if page.nav == "results" %} class="active"{% endif %}><a href="/BW2016/results/">Results</a></li>
		<li{% if page.nav == "photos" %} class="actice"{% endif %}><a href="/BW2016/photos/">Photos</a></li>	
	</ul>
      </nav>
      <div class="container" role="main">
	{{ content }}
      </div>
    </div>
  </body>
</html>

