---
---
<!DOCTYPE html>
<html lang="{% if page.lang == null %}fi{% else %}{{ page.lang }}{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if page.robots %}
      <meta name="robots" content="{{ page.robots }}">
    {% elsif page.sitemap == false %}
      <meta name="robots" content="noindex,follow">
    {% endif %}
    <link rel="sitemap" href="/sitemap.xml" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="preload" href="/font/Lato-Regular.subset.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/font/Lato-Bold.subset.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/font/Lato-Italic.subset.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    {% if page.jsonld %}<script type="application/ld+json">{{ page.jsonld }}</script>{% endif %}
    {% if page.style %}<style>{{ page.style }}</style>{% endif %}
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 9]><div class="alert alert-info" role="alert">
      <p>Käytät vanhentunutta selainta. Se kannattaa
      <a class="alert-link" href="http://www.whatbrowser.org/intl/fi/">päivittää uudempaan</a>.</p>
      </div><![endif]-->
    <div id="wrap">
      {% include ylapalkki.html %}
      <div class="container">
        {{ content }}
      </div>
    </div>
    <script src="/js/polyfill.min.js"></script>
    <script src="/js/bootstrap.native.js"></script>
  </body>
</html>
