---
---
<!DOCTYPE html>
<html lang="{% if page.lang == null %}fi{% else %}{{ page.lang }}{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if page.robots %}
    <meta name="robots" content="{{ page.robots }}">
    {% elsif page.sitemap == false %}
    <meta name="robots" content="noindex,follow">
    {% endif %}
    <link rel="sitemap" href="/sitemap.xml" />
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link href="/seiskat/tyyli.css?v=5" rel="stylesheet" />
    <base href="/seiskat/">
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lte IE 9]><div role="alert" style="color: #a60; background-color: #feb; border: 6px solid red; padding: 12px; font-size: 24px; font-weight: bold">
    <p lang="fi">Käytät vanhentunutta selainta. Se kannattaa
      <a href="https://updatemybrowser.org/">päivittää uudempaan</a>, esim:
	<ul style="margin-left: 1em">
	  <li><a href="https://www.mozilla.org/en-US/firefox/all/?q=Finnish,%20suomi">Firefox</a></li>
	  <li><a href="https://www.mozilla.org/en-US/firefox/organizations/all/?q=Finnish,%20suomi">Firefox ESR</a> (vanhemmille koneille)</li>
	  <li><a href="https://support.apple.com/downloads/safari">Safari</a> (macOS)</li>
	  <li><a href="https://www.google.com/chrome/">Chrome</a></li>
	  <li><a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Edge</a> (Windows 10)</li>
	  <li><a href="https://www.opera.com/">Opera</a></li>
	</ul>
      </p>
      </div><![endif]-->
    <img id="logo" alt="[logo]" src="logo.png" />
    <h1>{{ page.h1 }}</h1>
    {%- assign lang = page.lang | replace: "-FI", "" %}
    <div id="pikamenu"><a href="#nav">↓ {{ site.seiskat_menu[lang] }} ↓</a></div>
    
    <nav id="nav">
      <ul>
	{%- if lang == "sv" %}
	<li><a href="sv/index.html">Hem</a></li>
	<li><a href="sv/regler.html">Regler</a></li>
	<li><a href="sv/arrangorer.html">Arrang&ouml;rer</a></li>
	<li><a href="sv/problem.html">Problem och l&ouml;sningar</a></li>
	<li><a href="sv/resultat.html">Resultat</a></li>
	<li><a href="sv/kontakt.html">Kontakta oss</a></li>
	{% elsif lang == "en" %}
	<li><a href="en/index.html">Home</a></li>
	<li><a href="en/details.html">Details</a></li>
	<li><a href="en/organizers.html">Organizers</a></li>
	<li><a href="en/problems.html">Problems and Solutions</a></li>
	<li><a href="en/results.html">Results</a></li>
	<li><a href="en/contact.html">Contact Information</a></li>
	{% else %}
	<li><a href="index.html">Alku</a></li>
	<li><a href="ohjeet.html">Ohjeet ja s&auml;&auml;nn&ouml;t</a></li>
	<li><a href="jarjestajat.html">J&auml;rjest&auml;j&auml;t</a></li>
	<li><a href="tehtavat.html">Teht&auml;v&auml;t ja vastaukset</a></li>
	<li><a href="tulokset.html">Tulokset</a></li>
	<li><a href="yhteys.html">Yhteystiedot</a></li>
	{% endif %}
      </ul>
      {%- assign urlpath = page.url | split: "/" %}
      {%- assign leaf = urlpath.last | replace: ".html", "" %}
      {%- assign match = site.seiskat_pages | where: lang, leaf %}
      {%- assign record = match[0] %}
      {%- if lang == "fi" %}
      <ul>
	<li><a href="{{ record.fi | default: "index" }}.html" rel="canonical" lang="fi" hreflang="fi">Suomeksi</a></li>
	<li><a href="sv/{{ record.sv | default: "index" }}.html" rel="alternate" lang="sv-FI" hreflang="sv-FI">P&aring; svenska</a></li>
	<li><a href="en/{{ record.en | default: "index" }}.html" rel="alternate" lang="en" hreflang="en">In English</a></li>
      </ul>
      {%- elsif lang == "sv" %}
      <ul>
	<li><a href="{{ record.fi | default: "index" }}.html" rel="alternate" lang="fi" hreflang="fi">Suomeksi</a></li>
	<li><a href="sv/{{ record.sv | default: "index" }}.html" rel="canonical" lang="sv-FI" hreflang="sv-FI">P&aring; svenska</a></li>
	<li><a href="en/{{ record.en | default: "index" }}.html" rel="alternate" lang="en" hreflang="en">In English</a></li>
      </ul>
      {%- else %}
      <ul>
	<li><a href="{{ record.fi | default: "index" }}.html" rel="alternate" lang="fi" hreflang="fi">Suomeksi</a></li>
	<li><a href="sv/{{ record.sv | default: "index" }}.html" rel="alternate" lang="sv-FI" hreflang="sv-FI">P&aring; svenska</a></li>
	<li><a href="en/{{ record.en | default: "index" }}.html" rel="canonical" lang="en" hreflang="en">In English</a></li>
      </ul>
      {%- endif %}

    </nav>
    
    <main>
      {{ content }}
    </main>
  </body>
</html>
